# === Used in https://github.com/XuandongZhao/WatermarkAttacker/tree/main ===
transformers
opencv-python
invisible-watermark
scikit-image
matplotlib
bm3d
compressai
torch_fidelity
accelerate
onnxruntime
pytorch_msssim

# === Used in https://github.com/zhengyuan-jiang/WEvade ===
adversarial-robustness-toolbox
# === To download DiffusionDB dataset ===
dataset

# === Additional dependencies ===
seaborn